@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DataLayer.Request>

@{
    ViewBag.Title = "AllRequests";
}

<h2>AllRequests</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Blood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GotBlood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().BloodNeed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Blood)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GotBlood)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BloodNeed)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.id })|
           
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("AllRequests", new { page}))