@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DataLayer.Request>

@{
    ViewBag.Title = "AllRequests";
}

<h2>AllRequests</h2>
@using (Html.BeginForm("AllRequests", "Request", FormMethod.Get))
{
    <div class="control-label col-md-2">
        @Html.DropDownList("Search", new List<SelectListItem>
{
new SelectListItem{ Text="A(+) positive", Value = "A(+) positive" },
new SelectListItem{ Text="A(-) negative", Value = "A(-) negative" },
new SelectListItem{ Text="B(+) positive", Value = "B(+) positive" },
new SelectListItem{ Text="B(-) negative", Value = "B(-) negative" },
new SelectListItem{ Text="AB(+) positive", Value = "AB(+) positive" },
new SelectListItem{ Text="AB(-) negative", Value = "AB(-) negative" },
new SelectListItem{ Text="O(+) positive", Value = "O(+) positive" },
new SelectListItem{ Text="O(-) negative", Value = "O(-) negative" },

}, new { @class = "form-control" })
    </div>

    <input type="submit" value="Search" class="btn btn-primary btn-large" />
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.First().Blood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GotBlood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().BloodNeed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Blood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GotBlood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodNeed)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.id })|

            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("AllRequests", new { page }))