@model DataLayer.User

@{
    ViewBag.Title = "UserDetail";
}

<h2>Your basic information</h2>
@Html.HiddenFor(model => model.Id)
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDonated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDonated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferedArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferedArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelativePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelativePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        
    </dl>
</div>
<p >
    @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn-primary btn-large" }) 
    
</p>
